@charset "UTF-8";

/* ## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
 */

 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'outfit';
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    padding: 20px 0px;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
}

.card p {
    padding: 10px 0px;
    color: hsl(220, 15%, 55%);
}



