@charset "UTF-8";

/* ------------RESET------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Big Shoulders Display', cursive;
}

main {
    padding: 20px;
    max-width: 1100px;
}

.main-list{
    display: flex;
    align-items: center;
}

.main-list .card {
    height: 470px;
    padding: 30px;
    max-width: 250px;
}

.main-list .title {
    font-size: 33px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    padding: 25px 20px 20px 0px;
    color: hsl(0, 0%, 95%);
}

.main-list .text {
    color:  hsla(0, 0%, 100%, 0.75);
    font-weight:100;
    font-size: smaller;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.8;
    padding: 20px 0px;
    max-width: 300px;
}

.main-list .botao {
    padding:  12px 25px;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}

.main-list .orange {
    color: hsl(31, 77%, 52%);
}

.main-list .cyan {
    color: hsl(184, 100%, 22%);
}

.main-list .dark-cyan {
   color: hsl(179, 100%, 13%);; 
}

.main-list #one {
   background-color: hsl(31, 77%, 52%);
}

.main-list #two {
    background-color: hsl(184, 100%, 22%);
}

.main-list #three {
    background-color: hsl(179, 100%, 13%);
}

.main-list .card:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.main-list .card:last-child {
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

