@charset "UTF-8";

/* ------------RESET------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*---------------MOBILE FIRST---------------- */

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.container {
    padding: 2rem;
}
#orange {
    background-color: hsl(31, 77%, 52%);
}

#cyan {
    background-color: hsl(184, 100%, 22%);
}

#green {
    background-color: hsl(179, 100%, 13%);
}

h1 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin: 1.5rem auto;
    font-size: 35px;
}